h1 {
    color: white;
}
body {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(32, 31, 31);
    color: white;
}

.container {
color-scheme: dark;
}

.button-wrapper {
    padding: 20px;
}